

/*Desktop Compatability*/
@media only screen and (max-width: 800px){
	html {
		background-color: plum;
	}
	#main {
		width: 85%;
		margin-left:auto;
		margin-right:auto;
		border: 5px inset#8B008B;
		font-family: 'Teko', sans-serif;
		text-align:center;
		background-color: palevioletred;
		
	}
	
	h2.red{
		
		text-align:center;
		color:rebeccapurple;
		font-size:30px;
		text-decoration: underline;
		padding: 5px;
		
	}
	
	label {
 	display:inline;

 }

 label,input{
 	margin:5px;
 }
}

/*Mobile Comptability*/

@media only screen and (min-width: 560px){

html 
	{
		background-color: teal;
	}
	#main {
		width: 35%;
		margin-left:auto;
		margin-right:auto;
		border: 5px inset#E6E6FA;
		font-family: 'Teko', sans-serif;
		text-align:center;
		background-color: ivory;
		color: #483D8B;
	}
	
	h2.red{
		
		text-align:center;
		color:silver;
		font-size:30px;
		text-decoration: underline;
		padding: 5px;
		
	}
	
	label {
 	display:inline;

 }

 label,input{
 	margin:16px;
	}
}